<table>
<caption>View Word Details </caption>
  <tr>
    <td><strong>Word:</strong></td>
    <td><%= @wordle_valid_solution.word %></td>
  </tr>
  <tr>
    <td><strong>Defintion:</strong></td>
    <td><%= WordsService.define(@wordle_valid_solution.word) %></td>
  </tr>
</table>

<br><br>

<div class='user-options'>
  <button class="btn btn-login" onclick="editWord('<%= @wordle_valid_solution.id %>')">Edit Word</button>
  <button class="btn btn-login" onclick="deleteWord('<%= @wordle_valid_solution.id %>')">Delete Word</button>
</div>
