<div class="welcome-container">
  <h1>Welcome to CSCE 606 Team Arcade's Project</h1>
  <p>Please select one of the options to continue:</p>

  <div class="login-buttons">
    <%= button_to "Login with Google", "/auth/google_oauth2", data: { turbo: "false" }, class: 'btn btn-login', aria: { label: "Log in with your Google account" } %>

    <%= button_to "Continue as Guest", guest_path, class: 'btn btn-login', data: { turbo: "false" }, method: :get, aria: { label: "Continue without logging in" } %>
  </div>
</div>