<button id="myBtn" class="btn btn-login">Settings</button>

<div id="myModal" class="modal">

<div class="modal-content">
    <span class="close">&times;</span>
    <p>Add accessibility features here...</p>
    <div class="slider-container">
        Contrast: <input type="number" id="contrastInput" min="1" max="100" value="50" oninput="changeContrast()">
    </div>
</div>

</div>

<script>
    var modal = document.getElementById("myModal");

    var btn = document.getElementById("myBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function changeContrast() {
        const contrastValue = document.getElementById('contrastInput').value;
        document.querySelector('html').style.filter = `contrast(${contrastValue}%)`;
    }
</script> 