<p style="color: green"><%= notice %></p>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Play Box</title>
  <style>
    body, html {
      height: 100%;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    .back-box {
      width: 75%;
      height: 75%;
      background: linear-gradient(180deg, rgba(255, 255, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 0.8) 10%, rgba(255, 255, 0, 0.8) 10%, rgba(255, 255, 0, 0.8) 10%, rgba(0, 0, 0, 0.8) 10%);
      background-size: 40px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 30px 40px rgba(0, 0, 0, 0.6);
      perspective: 1000px;
      border-radius: 10px;
    }

    .in-box {
      width: 40%;
      height: 40%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 30px;
      font-weight: bold;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

  </style>
</head>
<body>
  <div class="back-box">
    <div class="in-box">
      <%= @game.name %>
    </div
  </div>
</body>
