/* Dashboard Title */
.dashboard-title {
  margin-top: 20px;
  color: #333;
  margin-left: 15px;
}

.game-history {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 20px auto;
}

.stat-card {
  flex: 1;
  background-color: #444;
  color: #fff;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat-number {
  font-size: 2rem;
  margin-bottom: 10px;
}

.stat-label {
  font-size: 1rem;
  color: #bbb;
}

.recent-games-title {
  margin-left: 15px;
  margin-top: 30px;
  font-size: 1.8rem;
  color: #333;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  gap: 20px;
  margin: 20px auto;
}

.game-card {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.game-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #ddd;
}

.last-played, .status {
  font-size: 1rem;
  margin: 5px 0;
  color: #aaa;
}

.status {
  color: #28a745;
  font-weight: bold;
}

.btn.more-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.btn.more-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .game-history {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .stat-card {
    margin: 10px 0;
  }
}
