.sb-game {
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: space-evenly;
    color: var(--font-clr);
    font-family: var(--font);
}

.sb-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
}

.sb-right {
    display: flex;
    flex-direction: column;
}

.sb-letters {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sb-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.sb-input input {
    font-size: 1rem;
    border: none;
    align-content: center;
}

.sb-input input:focus {
    outline: none;
}

.sb-input button {
    font-size: 1rem;
    background-color: var(--secondary-clr);
    color: white;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sb-input button:hover {
    background-color: var(--tertiary-clr);
}

.sb-score {
    font-size: 1.5rem;
}

.sb-words {
    display: flex;
    border: solid black;
    border-radius: 5px;
    height: 30vh;
    width: 30vw;
}

.sb-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
}

.sb-center {
    background-color: var(--primary-clr);
    border: 2px solid var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    text-align: center;
}

.sb-letter:hover, .sb-center:hover {
    cursor: pointer;
}

.sb-empty{
    border: none;
}

.htp {
    display: flex; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    align-items: center; 
    justify-content: center; 
}
  
.htp-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.live-demo {
    border: 2px solid black;
    border-radius: 5 px;
    padding: 60px;
}

.sb-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    font-family: Verdana, sans-serif;
    text-align: left;
}

.sb-head {
    background-color: black;
    color: white;
}

.sb-body {
    background-color: white;
    color: black;
}

td {
    border: 1px solid black;
    vertical-align: middle;
}
