.sb-game {
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: space-evenly;
    color: var(--font-clr);
    font-family: var(--font);
}

.sb-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
}

.sb-right {
    display: flex;
    flex-direction: column;
}

.sb-letters {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sb-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}

.sb-input input {
    font-size: 1rem;
    border: none;
    align-content: center;
}

.sb-input input:focus {
    outline: none;
}

.sb-input button {
    font-size: 1rem;
    background-color: var(--secondary-clr);
    color: white;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sb-input button:hover {
    background-color: var(--primary-clr);
}

.sb-score {
    font-size: 1.5rem;
}

.sb-words {
    font-size: 1.2rem;
    border: solid black;
    height: 50vh;
    width: 30vw;
    border-radius: 5px;
}

.sb-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
}

.sb-center {
    background-color: var(--primary-clr);
    border: 2px solid var(--primary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 100px;
    width: 100px;
    text-align: center;
}

.sb-empty{
    border: none;
}
