<h1>Play Spelling Bee</h1>

<p>Here’s your bee: <%= @bee.letters %></p>

<!-- You can add more interactive elements here depending on your application's logic -->

<%= link_to 'Back to Bees', bees_path %>
