# Simple workflow for deploying static content to GitHub Pages - used existing workflow template
name: Deploy Developer Docs

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["prod"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3.5' # Specify the Ruby version used in your project
          bundler-cache: true   # Caches dependencies for faster builds

      - name: Install dependencies
        run: |
          gem install yard
          bundle install # If you use Bundler to manage dependencies

      - name: Generate documentation
        run: |
          yard doc

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './doc' # Only upload the YARD-generated documentation

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
